<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="option === 1">{{ name + "- Top tracks" }}</ion-title>
    <ion-title *ngIf="option === 2">{{ "Album " + name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="selectSong(null)">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let song of songs; index as i" (click)="selectSong(song)">
      <ion-avatar>
        {{ i + 1 }}
      </ion-avatar>
      <ion-label>
        <h2>{{ song.name }}</h2>
        <p *ngIf="option === 1">{{ song.popularity }}</p>
        <p *ngIf="option === 2"><ion-label color="primary" *ngFor="let artist of song.artists">{{ artist.name }}</ion-label></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
